body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, #center, h2 {
    color: darkkhaki;
    background-color: hsl(0, 87%, 15%);
    text-align: center;
}

#center {
    text-align: center;
    font-size: 26px;
}

p, div {
    color: rgb(197, 225, 249);
    background-color: brown;
}

img {
    height: 300px;
    width: 500px;
}

.homepage {
    background-color: rgb(51, 14, 68);
    color: azure;
}